table th, td{
	border:1px solid blue;
	border-collapse:collapse;
	width:30;
	margin:auto;
	text-align:center;
	padding:10px 50px 10px 50px;
	border-bottom:1px solid red;
}

tr{	
	highet:50px;
	vertical-align:bottom;
}
	
	tr:nth-child(even){
	background-color:yellow;
	color:blink;
}
	
	tr:nth-child(odd){
	background-color:green;
	color:amber;
}

	tr:hover{
	background-color:brown;
	color:blue gray;
}

